<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ebay</title>
</head>
<body>
<h1>
what is ebay???
</h1>
<p>
Bay Inc. (/ˈiːbeɪ/ EE-bay, often stylized as ebay) is an American multinational e-commerce company based in San Jose, California, that facilitates consumer-to-consumer and business-to-consumer sales through its website. eBay was founded by Pierre Omidyar in 1995 and became a notable success story of the dot-com bubble. eBay is a multibillion-dollar business with operations in about 32 countries, as of 2019.[1][2] The company manages the eBay website, an online auction and shopping website in which people and businesses buy and sell a wide variety of goods and services worldwide. The website is free to use for buyers, but sellers are charged fees for listing items after a limited number of free listings, and an additional or separate fee when those items are sold.[3]
</p>
<h2>shoes</h2>
<img src="/static/shoe.jpeg" width="400" height="400"/>
<h3>veg</h3>
<img src="static/veg.jpg" width="400" height="400"/>
<h4>tablets</h4>
<img src="static/tablet.jpeg" width="400" height="400"/>
<a href="/product">products page</a>
<h5><a href="/cart">cart page</a></h5>

</body>
</html>