<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<h1>products</h1>
<img src="static/phone.jpg" width="400" height="400"/>
<p>
    The iPhone 14 and iPhone 14 Plus feature a 6.1-inch (15 cm) and 6.7-inch (17 cm) display, improvements to the rear-facing camera, and satellite connectivity for contacting emergency services when a user in trouble is beyond the range of Wi-Fi or cellular networks.
</p>
<h2>price==10000$</h2>
<a href="/">home page</a>
</body>
</html>
